html {
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpknVQJwOw-iSCXzhxzhNSMIpNtHzPxhT4bg&s");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
            background-color: #333;
            color: white;
            padding: 1em 0;
            text-align: center;
        }
        nav {
            display: flex;
            justify-content: space-around;
        }
        nav a {
            color: rgb(255, 255, 255);
            text-decoration: none;
        }
        main {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        div {
            width: 80%;
margin: 20px auto;
padding: 10px;
background-color: #f0f0f0;
border-radius: 5px;
box-shadow: 0 0 10px #000000;
        }
        h1 {
            text-align: center;
        }
        footer {
            text-align: center;
            margin-top: 20px;
        }
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
        }
        div {
            width: 80%;
            margin: 20px auto;
            padding: 10px;
            background-color: #f0f0f0;
            border-radius: 5px;
box-shadow: #000000;
        }
        img {
        width: 400px;
        height: 400px;
        margin: 10px;
        text-align: center;
        }